.Admin {
  width: 100%;
  margin: auto;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding: 30px 40px;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px,
    rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;
  margin-top: 80px;
  margin-bottom: 100px;
  border-radius: 5px;

  h3 {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    color: rgba($color: #000000, $alpha: 0.8);
    margin-top: 15px;
  }

  .admin_list {
    width: 100%;
    border: rgba(0, 0, 0, 0.23) solid 1px;
    border-radius: 5px;
    border-radius: 5px 0 0 5px;

    .menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 15px 20px;

      li {
        width: 100%;
        padding: 15px 10px;
        border-bottom: rgba(0, 0, 0, 0.23) solid 1px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:last-of-type {
          border-bottom: none;
        }

        .item_icons {
          display: flex;
          align-items: center;

          button {
            margin-left: 15px;
            padding: 6px;
            border: none;
            background: none;
            cursor: pointer;
            color: rgba($color: #000000, $alpha: 0.6);
            transition: 0.1s;

            &:hover {
              color: #1976d2;
            }

            svg {
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  .admin_form {
    width: 100%;
    border: rgba(0, 0, 0, 0.23) solid 1px;
    border-radius: 0 5px 5px 0;
    border-left: none;

    .form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      align-items: center;

      .input {
        width: 70%;
        margin-top: 50px;
      }

      .button {
        margin-top: 50px;
        margin-bottom: 30px;
      }
    }
  }
}
